<section class="content-header">
  <h1>
      {{title}}
    <small>Admin</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Tables</a></li>
    <li class="active">{{title}}</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">


    <div class="col-xs-12">

      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Hover Data Table</h3>
          <ul class="nav nav-tabs">
              <li routerLinkActive="active"><a [routerLink]="[ './../clientes' ]" data-toggle="tab">Clientes</a></li>
              <li routerLinkActive="active"><a [routerLink]="[ './../empleados' ]" data-toggle="tab">Empleados</a></li>
              <li routerLinkActive="active"><a [routerLink]="[ './../roles' ]" data-toggle="tab">Roles</a></li>
          </ul>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="col-xs-3">
                <button *ngIf="Agregar==1" type="button" class="btn btn-primary btn-block margin-bottom" data-toggle="modal" data-target="#insertModal" style="cursor:pointer;"><i class="fa fa-plus"></i>  Nuevo</button>
            </div>
          <div class="col-xs-3 col-xs-offset-6">
              <input type="text" class="form-control" placeholder="Busqueda" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
          </div>
          <table class="table datatable table-hover table-responsive"  [mfData]="Table | filter : search" #mf="mfDataTable"
            [mfRowsOnPage]="rowsOnPage">
                <thead>
                    <tr>
                        <th style="width:20%;">
                          <mfDefaultSorter by="nombre">Nombre</mfDefaultSorter></th>
                        <th style="width:20%;">
                          <mfDefaultSorter by="direccion">Direccion</mfDefaultSorter></th>
                        <th style="width:20%;">
                          <mfDefaultSorter by="nit">Nit</mfDefaultSorter></th>
                        <th style="width:20%;">
                          <mfDefaultSorter by="telefono">Telefono</mfDefaultSorter></th>
                        <th style="width:20%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of mf.data">
                        <td>{{((data.nombre!=null)?data.nombre:'')}}</td>
                        <td>{{((data.direccion!=null)?data.direccion:'')}}</td>
                        <td>{{((data.nit!=null)?data.nit:'')}}</td>
                        <td>{{((data.telefono!=null)?data.telefono:'')}}</td>
                        <td>

                          <button *ngIf="Modificar==1" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal" (click)="cargarSingle(data.id)" style="cursor:pointer;"><i class="fa fa-edit"></i> Editar</button>
                          <button *ngIf="Eliminar==1" type="button" class="btn btn-danger" (click)="delete(data.id)" style="cursor:pointer;"><i class="fa fa-times"></i> Eliminar</button>

                        </td>
                    </tr>
                </tbody>
                <tfoot>
                  <tr>
                      <td colspan="2" style="width:100%;">
                          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                      </td>
                  </tr>
                  </tfoot>
            </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->

          <!-- Inicio Modal Ingreso -->
          <div id="insertModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Ingreso de datos</h4>
                    </div>
                    <div>
                        <form id="insert-form"  #InsertForm="ngForm" (ngSubmit)="insert(InsertForm.value)">
                          <div class="form-group col-xs-6 m-b-15">
                            <label for="nombre">Nombre</label>
                            <div class="input-group">
                              <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                              <input type="text" class="form-control" id="nombre" name="nombre" required
                                      ngModel #nombre="ngModel" placeholder="Nombre">
                            </div>
                              <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
                                    class="alert alert-danger" role="alert">
                                  <small *ngIf="nombre.errors.required">
                                      El Nombre es invalido
                                  </small>
                              </div>
                          </div>
                          <div class="form-group col-xs-6 m-b-15">
                            <label for="apellido">Apellido</label>
                            <div class="input-group">
                              <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                              <input type="text" class="form-control" id="apellido" name="apellido" required
                                      ngModel #apellido="ngModel" placeholder="Apellido">
                            </div>
                              <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)"
                                    class="alert alert-danger" role="alert">
                                  <small *ngIf="apellido.errors.required">
                                      El Apellido es invalido
                                  </small>
                              </div>
                          </div>
                          <div class="form-group col-xs-12 m-b-15">
                            <label for="direccion">Direccion</label>
                            <div class="input-group">
                              <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                              <input type="text" class="form-control" id="direccion" name="direccion" required
                                      ngModel #direccion="ngModel" placeholder="Direccion">
                            </div>
                              <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)"
                                    class="alert alert-danger" role="alert">
                                  <small *ngIf="direccion.errors.required">
                                      El Direccion es invalido
                                  </small>
                              </div>
                          </div>
                          <div class="form-group col-xs-4 m-b-15">
                            <label for="nit">Nit</label>
                            <div class="input-group">
                              <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                              <input type="text" class="form-control" id="nit" name="nit" required
                                      ngModel #nit="ngModel" placeholder="Nit">
                            </div>
                              <div *ngIf="nit.invalid && (nit.dirty || nit.touched)"
                                    class="alert alert-danger" role="alert">
                                  <small *ngIf="nit.errors.required">
                                      El Nit es invalido
                                  </small>
                              </div>
                          </div>
                          <div class="form-group col-xs-4 m-b-15">
                            <label for="telefono">Telefono</label>
                            <div class="input-group">
                              <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                              <input type="text" class="form-control" id="telefono" name="telefono" required
                                      ngModel #telefono="ngModel" placeholder="Telefono">
                            </div>
                              <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)"
                                    class="alert alert-danger" role="alert">
                                  <small *ngIf="telefono.errors.required">
                                      El Telefono es invalido
                                  </small>
                              </div>
                          </div>
                          <div class="form-group col-xs-4 m-b-15">
                            <label for="celular">Celular</label>
                            <div class="input-group">
                              <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                              <input type="text" class="form-control" id="celular" name="celular" required
                                      ngModel #celular="ngModel" placeholder="Celular">
                            </div>
                              <div *ngIf="celular.invalid && (celular.dirty || celular.touched)"
                                    class="alert alert-danger" role="alert">
                                  <small *ngIf="celular.errors.required">
                                      El Celular es invalido
                                  </small>
                              </div>
                          </div>
                          <div class="form-group col-xs-6 m-b-15">
                            <label for="email">Email</label>
                            <div class="input-group">
                              <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                              <input type="email" class="form-control" id="email" name="email" required
                                      ngModel #email="ngModel" placeholder="email">
                            </div>
                              <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                    class="alert alert-danger" role="alert">
                                  <small *ngIf="email.errors.required">
                                      El Email es invalido
                                  </small>
                              </div>
                          </div>
                          <div class="form-group col-xs-12 text-right m-b-15">
                              <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle" ></i> Cancel</button>
                              <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                          </div>
                        </form>
                    </div>
                    <div class="modal-footer" style="border:none;">
                    </div>
                </div>
            </div>
          </div>
        <!-- Final Modal Ingreso -->

        <!-- Inicio Modal Ingreso -->
          <div id="editModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Edicion de datos</h4>
                    </div>
                    <div>
                        <form *ngIf="selectedData" id="edit-form"  #EditForm="ngForm" (ngSubmit)="update(EditForm.value)">
                          <div class="form-group col-xs-6 m-b-15">
                            <label for="nombre">Nombre</label>
                            <div class="input-group">
                              <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                              <input type="text" class="form-control" id="nombre" name="nombre" required
                                      ngModel #nombre="ngModel" placeholder="Nombre" [(ngModel)]="selectedData.nombre">
                            </div>
                              <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
                                    class="alert alert-danger" role="alert">
                                  <small *ngIf="nombre.errors.required">
                                      El Nombre es invalido
                                  </small>
                              </div>
                          </div>
                          <div class="form-group col-xs-6 m-b-15">
                            <label for="apellido">Apellido</label>
                            <div class="input-group">
                              <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                              <input type="text" class="form-control" id="apellido" name="apellido" required
                                      ngModel #apellido="ngModel" placeholder="Apellido" [(ngModel)]="selectedData.apellido">
                            </div>
                              <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)"
                                    class="alert alert-danger" role="alert">
                                  <small *ngIf="apellido.errors.required">
                                      El Apellido es invalido
                                  </small>
                              </div>
                          </div>
                          <div class="form-group col-xs-12 m-b-15">
                            <label for="direccion">Direccion</label>
                            <div class="input-group">
                              <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                              <input type="text" class="form-control" id="direccion" name="direccion" required
                                      ngModel #direccion="ngModel" placeholder="Direccion" [(ngModel)]="selectedData.direccion">
                            </div>
                              <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)"
                                    class="alert alert-danger" role="alert">
                                  <small *ngIf="direccion.errors.required">
                                      El Direccion es invalido
                                  </small>
                              </div>
                          </div>
                          <div class="form-group col-xs-4 m-b-15">
                            <label for="nit">Nit</label>
                            <div class="input-group">
                              <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                              <input type="text" class="form-control" id="nit" name="nit" required
                                      ngModel #nit="ngModel" placeholder="Nit" [(ngModel)]="selectedData.nit">
                            </div>
                              <div *ngIf="nit.invalid && (nit.dirty || nit.touched)"
                                    class="alert alert-danger" role="alert">
                                  <small *ngIf="nit.errors.required">
                                      El Nit es invalido
                                  </small>
                              </div>
                          </div>
                          <div class="form-group col-xs-4 m-b-15">
                            <label for="telefono">Telefono</label>
                            <div class="input-group">
                              <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                              <input type="text" class="form-control" id="telefono" name="telefono" required
                                      ngModel #telefono="ngModel" placeholder="Telefono" [(ngModel)]="selectedData.telefono">
                            </div>
                              <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)"
                                    class="alert alert-danger" role="alert">
                                  <small *ngIf="telefono.errors.required">
                                      El Telefono es invalido
                                  </small>
                              </div>
                          </div>
                          <div class="form-group col-xs-4 m-b-15">
                            <label for="celular">Celular</label>
                            <div class="input-group">
                              <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                              <input type="text" class="form-control" id="celular" name="celular" required
                                      ngModel #celular="ngModel" placeholder="Celular" [(ngModel)]="selectedData.celular">
                            </div>
                              <div *ngIf="celular.invalid && (celular.dirty || celular.touched)"
                                    class="alert alert-danger" role="alert">
                                  <small *ngIf="celular.errors.required">
                                      El Celular es invalido
                                  </small>
                              </div>
                          </div>
                          <input type="hidden" class="form-control" id="id" name="id" required
                                      ngModel #id="ngModel" [(ngModel)]="selectedData.id">
                          <div class="form-group col-xs-12 text-right m-b-15">
                              <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle" ></i> Cancel</button>
                              <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                          </div>
                        </form>
                    </div>
                    <div class="modal-footer" style="border:none;">
                    </div>
                </div>
            </div>
          </div>
        <!-- Final Modal Ingreso -->

<!-- Inicio Notificaciones -->
  <simple-notifications [options]="options"></simple-notifications>
<!-- Fin Notificaciones -->
<!-- Inicio Loader Modal -->
<div class="modal fade" id="Loading">
  <div class="modal-dialog">
    <div class="text-center" style="margin-top:50%;margin-left:50%;">
        <app-loader></app-loader>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Fin Loader Modal -->

