<section class="content-header">
  <h1>
      {{title}}
    <small>Admin</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Tables</a></li>
    <li class="active">{{title}}</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">


    <div class="col-xs-12">

      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Hover Data Table</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="form-group col-xs-4 m-b-15" >
                <label for="description">Pedidos</label>
                <input type="text" class="form-control" style="margin-bottom:5px;" placeholder="Busqueda" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
                <div droppable (onDrop)="DropPedidos($event)" class="listaDrag">
                  <li draggable [dragData]="Data" *ngFor = "let Data of pedidos |filter:search" class="alert alert-success" >
                    {{((Data.nombre!=null)?Data.nombre:'')}}
                  </li>
                </div>
            </div>
            <div  class="form-group col-xs-4 m-b-15" >
              <label for="cycle_study_day">En Proceso</label>
              <input type="text" class="form-control" style="margin-bottom:5px;" placeholder="Busqueda" [(ngModel)]="searchP" [ngModelOptions]="{standalone: true}">
                <div droppable (onDrop)="DropProcesos($event)"  class="listaDrag " >
                  <li draggable [dragData]="item" *ngFor="let item of procesos |filter:searchP" class="alert alert-info">
                    {{((item.nombre!=null)?item.nombre:'')}}
                  </li>
                </div>
            </div>
            <div  class="form-group col-xs-4 m-b-15" >
              <label for="cycle_study_day2">Terminado</label>
              <input type="text" class="form-control" style="margin-bottom:5px;" placeholder="Busqueda" [(ngModel)]="searchH" [ngModelOptions]="{standalone: true}">
                <div droppable (onDrop)="DropHechos($event)"  class="listaDrag " >
                  <li draggable [dragData]="item" *ngFor="let item of hechos |filter:searchH" class="alert alert-danger">
                    {{((item.nombre!=null)?item.nombre:'')}}
                  </li>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->

<!-- Inicio Notificaciones -->
  <simple-notifications [options]="options"></simple-notifications>
<!-- Fin Notificaciones -->
<!-- Inicio Loader Modal -->
<div class="modal fade" id="Loading">
  <div class="modal-dialog">
    <div class="text-center" style="margin-top:50%;margin-left:50%;">
        <app-loader></app-loader>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Fin Loader Modal -->

