<section class="content-header">
  <h1>
      {{title}}
    <small>Admin</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Tables</a></li>
    <li class="active">{{title}}</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">


    <div class="col-xs-12">

      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Hover Data Table</h3>
          <ul class="nav nav-tabs">
            <li routerLinkActive="active"><a [routerLink]="[ './../productos' ]" data-toggle="tab">Productos</a></li>
            <li routerLinkActive="active"><a [routerLink]="[ './../categorias' ]" data-toggle="tab">Categorias</a></li>
          </ul>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="col-xs-3">
                <button *ngIf="Agregar==1" type="button" class="btn btn-primary btn-block margin-bottom" data-toggle="modal" data-target="#insertModal" style="cursor:pointer;"><i class="fa fa-plus"></i>  Nuevo</button>
            </div>
          <div class="col-xs-3 col-xs-offset-6">
              <input type="text" class="form-control" placeholder="Busqueda" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
          </div>
          <table class="table datatable table-hover table-responsive"  [mfData]="Table | filter : search" #mf="mfDataTable"
            [mfRowsOnPage]="rowsOnPage">
                <thead>
                    <tr>
                        <th style="width:80%;">
                          <mfDefaultSorter by="descripcion">Descripcion</mfDefaultSorter></th>
                        <th style="width:20%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of mf.data">
                        <td>{{((data.descripcion!=null)?data.descripcion:'')}}</td>
                        <td>

                          <button *ngIf="Modificar==1" type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal" (click)="cargarSingle(data.id)" style="cursor:pointer;"><i class="fa fa-edit"></i> Editar</button>
                          <button *ngIf="Eliminar==1" type="button" class="btn btn-danger" (click)="delete(data.id)" style="cursor:pointer;"><i class="fa fa-times"></i> Eliminar</button>

                        </td>
                    </tr>
                </tbody>
                <tfoot>
                  <tr>
                      <td colspan="2" style="width:100%;">
                          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                      </td>
                  </tr>
                  </tfoot>
            </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->

          <!-- Inicio Modal Ingreso -->
            <div id="insertModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
              <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <h4 class="modal-title">Ingreso de datos</h4>
                      </div>
                      <div>
                          <form id="insert-form"  #InsertForm="ngForm" (ngSubmit)="insert(InsertForm.value)">
                            <div class="form-group col-xs-12 m-b-15">
                              <label for="descripcion">Descripcion</label>
                              <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control" id="descripcion" name="descripcion" required
                                        ngModel #descripcion="ngModel" placeholder="descripcion">
                              </div>
                                <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)"
                                      class="alert alert-danger" role="alert">
                                    <small *ngIf="descripcion.errors.required">
                                        El Descripcion es invalido
                                    </small>
                                </div>
                            </div>
                            <input type="hidden" class="form-control" id="creador" name="creador" required
                                        ngModel #creador="ngModel" [(ngModel)]="id">
                            <div class="form-group col-xs-12 text-right m-b-15">
                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle" ></i> Cancel</button>
                                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                            </div>
                          </form>
                      </div>
                      <div class="modal-footer" style="border:none;">
                      </div>
                  </div>
              </div>
            </div>
          <!-- Final Modal Ingreso -->

          <!-- Inicio Modal Ingreso -->
            <div id="editModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
              <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <h4 class="modal-title">Edicion de datos</h4>
                      </div>
                      <div>
                          <form *ngIf="selectedData" id="edit-form"  #EditForm="ngForm" (ngSubmit)="update(EditForm.value)">
                            <div class="form-group col-xs-12 m-b-15">
                              <label for="descripcion">Descripcion</label>
                              <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control" id="descripcion" name="descripcion" required
                                        ngModel #descripcion="ngModel" placeholder="descripcion" [(ngModel)]="selectedData.descripcion">
                              </div>
                                <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)"
                                      class="alert alert-danger" role="alert">
                                    <small *ngIf="descripcion.errors.required">
                                        El Descripcion es invalido
                                    </small>
                                </div>
                            </div>
                            <input type="hidden" class="form-control" id="id" name="id" required
                                        ngModel #id="ngModel" [(ngModel)]="selectedData.id">
                            <input type="hidden" class="form-control" id="creador" name="creador" required
                                        ngModel #creador="ngModel" [(ngModel)]="selectedData.creador">
                            <div class="form-group col-xs-12 text-right m-b-15">
                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle" ></i> Cancel</button>
                                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                            </div>
                          </form>
                      </div>
                      <div class="modal-footer" style="border:none;">
                      </div>
                  </div>
              </div>
            </div>
          <!-- Final Modal Ingreso -->

<!-- Inicio Notificaciones -->
  <simple-notifications [options]="options"></simple-notifications>
<!-- Fin Notificaciones -->
<!-- Inicio Loader Modal -->
<div class="modal fade" id="Loading">
  <div class="modal-dialog">
    <div class="text-center" style="margin-top:50%;margin-left:50%;">
        <app-loader></app-loader>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Fin Loader Modal -->

