<div class="">
    <header class="main-header">
      <!-- Logo -->
      <a [routerLink]="[ './admin' ]" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>Foxy</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Foxylabs</b></span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <!-- Notifications: style can be found in dropdown.less -->
            <li class="dropdown notifications-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-bell-o"></i>
                <span class="label label-warning">10</span>
              </a>
              <ul class="dropdown-menu">
                <li class="header">You have 10 notifications</li>
                <li>
                  <!-- inner menu: contains the actual data -->
                  <ul class="menu">
                    <li>
                      <a href="#">
                        <i class="fa fa-users text-aqua"></i> 5 new members joined today
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                        page and may cause design problems
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-users text-red"></i> 5 new members joined
                      </a>
                    </li>

                    <li>
                      <a href="#">
                        <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="fa fa-user text-red"></i> You changed your username
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="footer"><a href="#">View all</a></li>
              </ul>
            </li>
            <!-- User Account: style can be found in dropdown.less -->
            <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="{{((picture!='')?picture:'')}}" class="user-image" alt="User Image">
                <span class="hidden-xs">{{((firstname!='')?firstname+' '+lastname:user)}}</span>
              </a>
              <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
                  <img [routerLink]="[ './admin/perfil' ]" src="{{((picture!='')?picture:'')}}" class="img-circle" alt="User Image">

                  <p>
                    {{((firstname!='')?firstname+' '+lastname:user)}}
                    <!-- <small>Member since Nov. 2012</small> -->
                  </p>
                </li>

                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="pull-left">
                    <a [routerLink]="[ './admin/perfil' ]" class="btn btn-default btn-flat">Perfil</a>
                  </div>
                  <div class="pull-right">
                    <a data-toggle="modal" data-target="#mb-signout" class="btn btn-default btn-flat">Cerras Sesion</a>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
          <div class="pull-left image" style="background-color:  white;">
            <img [routerLink]="[ './admin/perfil' ]" src="{{((picture!='')?picture:'')}}" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
            <p>{{((firstname!='')?firstname+' '+lastname:user)}}</p>
          </div>
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
          <li class="header">Administrador</li>
          <li *ngIf="idRol==2" routerLinkActive="active">
            <a [routerLink]="[ './admin/modulos' ]">
              <i class="fa fa-list"></i> <span>Modulos</span>

            </a>
          </li>
          <li *ngFor="let data of modulos" routerLinkActive="active">
            <a *ngIf="data.mostrar==1" [routerLink]="[ './admin/'+data.link ]" (click)="permiso(data)">
              <i class="fa fa-{{data.icono}}"></i> <span>{{data.nombre}}</span>

            </a>
          </li>
          <li class="treeview" *ngIf="modulosOcultos">
            <a>
              <i class="fa fa-plus"></i> <span>Mas</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li  *ngFor="let data of modulosOcultos" (click)="permiso(data)" routerLinkActive="active">
                <a [routerLink]="[ './admin/'+data.link ]" *ngIf="data.mostrar==1"><i class="fa fa-{{data.icono}}"></i> {{data.nombre}}</a></li>
            </ul>
          </li>
        </ul>
      </section>
      <!-- /.sidebar -->
    </aside>
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
</div>


<div class="modal modal-primary fade" id="mb-signout">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Cerrar Sesion?</h4>

        </div>
        <div class="modal-body">
            <p>Estas seguro de querer cerrar sesion?</p>
            <p>Presiona NO si quieres permanecer activo. Presiona SI si quieres cerrar la sesion actual.</p>
        </div>
        <div class="modal-footer">
            <div class="">
                <a (click)="logout()" class="btn btn-success btn-lg">Si</a>
                <button class="btn btn-default btn-lg mb-control-close" data-dismiss="modal">No</button>
            </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

  <div class="modal modal-default fade" id="passwordModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Cambio de Contraseña</h4>
        </div>
        <div class="modal-body">
          <form id="pass-form"  #passForm="ngForm" (ngSubmit)="updatePass(passForm.value)">
            <div class="form-group">
              <label for="old_pass">Contraseña Actual</label>
              <div class="input-group">
                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                <input type="password" class="form-control" id="old_pass" name="old_pass" required
                        ngModel #old_pass="ngModel" placeholder="Contraseña Actual">
              </div>
                <div *ngIf="old_pass.invalid && (old_pass.dirty || old_pass.touched)"
                      class="alert alert-danger" role="alert">
                    <small *ngIf="old_pass.errors.required">
                        El Contraseña Actual es invalido
                    </small>
                </div>
            </div>
            <div class="form-group">
              <label for="new_pass">Nueva Contraseña</label>
              <div class="input-group">
                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                <input type="password" class="form-control" id="new_pass" name="new_pass" required
                        ngModel #new_pass="ngModel" placeholder="Nueva Contraseña">
              </div>
                <div *ngIf="new_pass.invalid && (new_pass.dirty || new_pass.touched)"
                      class="alert alert-danger" role="alert">
                    <small *ngIf="new_pass.errors.required">
                        El Nueva Contraseña es invalido
                    </small>
                </div>
            </div>
            <div class="form-group ">
              <label for="new_pass_rep">Repita Nueva Contraseña</label>
              <div class="input-group">
                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                <input type="password" class="form-control" id="new_pass_rep" name="new_pass_rep" required
                        ngModel #new_pass_rep="ngModel" placeholder="Repita Nueva Contraseña">
              </div>
                  <div *ngIf="new_pass_rep.value != new_pass.value"
                      class="alert alert-danger" role="alert">
                    <small>
                        Las contraseñas deben ser Iguales
                    </small>
                  </div>
            </div>
          </form>

        </div>
        <div class="text-right modal-footer" style="margin-bottom: 15px;">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle" ></i> Cancel</button>
                <button type="button" (click)="updatePass(passForm.value)" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
<!-- Inicio Notificaciones -->
<simple-notifications [options]="options"></simple-notifications>
<!-- Fin Notificaciones -->
<!-- Inicio Loader Modal -->
  <div class="modal fade" id="Loading">
    <div class="modal-dialog">
      <div class="text-center" style="margin-top:50%;margin-left:50%;">
          <loaders-css [loader]="'ball-scale-multiple'" [loaderClass]="'loader1'"></loaders-css>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
<!-- Fin Loader Modal -->
