<div class="col-md-8 col-xs-offset-2">
  <div class="login-logo">
    <a><b>Restaurante</b>LTE</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Ingresa tu usuario y te enviaremos un correo con tu nueva contraseña.</p>

    <form class="form-horizontal" id="insert-form"  #InsertForm="ngForm" (ngSubmit)="insert(InsertForm.value)">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Registro de proveedores</h3>
        </div>
        <div class="row">
          <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" id="nombre" name="nombre"
                  ngModel #nombre="ngModel" placeholder="nombre">
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-info"></i></span>
                <input type="text" class="form-control" id="nit" name="nit"
                  ngModel #nit="ngModel" placeholder="nit">
              </div>

              <br>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                <input type="text" class="form-control" id="direccion" name="direccion"
                  ngModel #direccion="ngModel" placeholder="direccion">
              </div>
              <br>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input type="text" class="form-control" id="apellido" name="apellido"
                ngModel #apellido="ngModel" placeholder="apellido">
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-phone"></i></span>
              <input type="text" class="form-control" id="telefono" name="telefono"
                ngModel #telefono="ngModel" placeholder="telefono">
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
              <input type="email" class="form-control" id="email" name="email"
                ngModel #email="ngModel" placeholder="Email">
            </div>
            <br>
          </div>

          <!-- /input-group -->
        </div>
        <!-- /.box-body -->
      </div>
        <div class="row">
            <div class="col-xs-4 col-xs-offset-2">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Enviar</button>
            </div>
            <!-- /.col -->
            <div class="col-xs-4 col-xs-offset-1">
              <button type="button" [routerLink]="[ './../login' ]" class="btn btn-danger btn-block btn-flat">Cancel</button>
            </div>
            <!-- /.col -->
          </div>

          <div class="row">
            <div class="col-xs-12">
              <a  [routerLink]="[ './../login' ]" class="text-center">Login</a>
            </div>
            <!-- /.col -->
          </div>
      </form>


  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<div class="modal fade" id="Loading">
  <div class="modal-dialog">
    <div class="text-center" style="margin-top:35%;">
<loaders-css [loader]="'line-scale'" [loaderClass]="'loader1'" ></loaders-css>
    </div>
  </div>
</div>

<simple-notifications [options]="options"></simple-notifications>


