<div class="login-box">
  <div class="login-logo">
    <a><b>Restaurante</b>LTE</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Ingresa tu usuario y te enviaremos un correo con tu nueva contraseña.</p>

    <form class="form-horizontal" id="login-form"  #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
        <div class="form-group">
            <div class="col-md-12">
                <input type="text" class="form-control" id="username" name="username" required
                ngModel #username="ngModel" placeholder="Usuario o Email" autofocus/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Enviar</button>
            </div>
            <!-- /.col -->
          </div>

          <div class="row">
            <div class="col-xs-12">
              <a  [routerLink]="[ './../login' ]">Login</a><br>
            </div>
            <!-- /.col -->
            <div class="col-xs-12">
              <a  [routerLink]="[ './../register' ]" class="text-center">Registro</a>
            </div>
            <!-- /.col -->
          </div>
      </form>


  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<div class="modal fade" id="Loading">
  <div class="modal-dialog">
    <div class="text-center" style="margin-top:35%;">
<loaders-css [loader]="'line-scale'" [loaderClass]="'loader1'" ></loaders-css>
    </div>
  </div>
</div>

<simple-notifications [options]="options"></simple-notifications>


