<section class="content-header">
  <h1>
      {{title}}
    <small>Admin</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Tables</a></li>
    <li class="active">{{title}}</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">


    <div class="col-xs-12">

      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Hover Data Table</h3>
          <ul class="nav nav-tabs">
              <li routerLinkActive="active"><a [routerLink]="[ './../productos' ]" data-toggle="tab">Productos</a></li>
              <li routerLinkActive="active"><a [routerLink]="[ './../categorias' ]" data-toggle="tab">Categorias</a></li>
          </ul>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="col-xs-3">
                <button *ngIf="Agregar==1" type="button" class="btn btn-primary btn-block margin-bottom" data-toggle="modal" data-target="#insertModal" (click)="limpiarForm()" style="cursor:pointer;"><i class="fa fa-plus"></i>  Nuevo</button>
            </div>
          <div class="col-xs-3 col-xs-offset-6">
              <input type="text" class="form-control" placeholder="Busqueda" [(ngModel)]="search" [ngModelOptions]="{standalone: true}">
          </div>
          <table class="table datatable table-hover table-responsive"  [mfData]="Table | filter : search" #mf="mfDataTable"
            [mfRowsOnPage]="rowsOnPage">
                <thead>
                    <tr>
                        <th style="width:80%;">
                          <mfDefaultSorter by="nombre">Nombre</mfDefaultSorter></th>
                        <th style="width:20%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of mf.data">
                        <td>{{((data.nombre!=null)?data.nombre:'')}}</td>
                        <td>

                          <button *ngIf="Modificar==1" type="button" class="btn btn-primary" data-toggle="modal" data-target="#insertModal" (click)="seleccionarProd(data)" style="cursor:pointer;"><i class="fa fa-edit"></i> Editar</button>
                          <button *ngIf="Eliminar==1" type="button" class="btn btn-danger" (click)="delete(data.id)" style="cursor:pointer;"><i class="fa fa-times"></i> Eliminar</button>

                        </td>
                    </tr>
                </tbody>
                <tfoot>
                  <tr>
                      <td colspan="2" style="width:100%;">
                          <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                      </td>
                  </tr>
                  </tfoot>
            </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->

          <!-- Inicio Modal Ingreso -->
            <div id="insertModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
              <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <h4 class="modal-title">Ingreso de datos</h4>
                      </div>
                      <div>
                        <ul class="list-group border-bottom col-xs-6 m-b-15">
                          <li class="list-group-item" *ngFor = "let data of productos |filter:searchterm" (click)="seleccionarProd(data)">{{data.codigo}} - {{data.nombre}}<span class="badge">{{data.inventario.cantidad}}</span></li>
                      </ul>
                      <div class="form-group col-xs-6 m-b-15">
                          <form id="prod-form"  #ProdForm="ngForm" (ngSubmit)="insertProd(ProdForm.value)">
                            <div class="form-group col-xs-12 m-b-15">
                              <label for="codigo">Codigo</label>
                              <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control" id="codigo" name="codigo" required
                                        ngModel #codigo="ngModel" placeholder="Codigo" [(ngModel)]="searchterm">
                              </div>
                                <div *ngIf="codigo.invalid && (codigo.dirty || codigo.touched)"
                                      class="alert alert-danger" role="alert">
                                    <small *ngIf="codigo.errors.required">
                                        El Codigo es invalido
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 m-b-15">
                              <label for="nombre">Nombre</label>
                              <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control" id="nombre" name="nombre" required
                                        ngModel #nombre="ngModel" placeholder="Nombre" [(ngModel)]="prod.nombre">
                              </div>
                                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
                                      class="alert alert-danger" role="alert">
                                    <small *ngIf="nombre.errors.required">
                                        El Nombre es invalido
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 m-b-15">
                              <label for="descripcion">Descripcion</label>
                              <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control" id="descripcion" name="descripcion"
                                        ngModel #descripcion="ngModel" placeholder="Descripcion" [(ngModel)]="prod.descripcion">
                              </div>
                                <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)"
                                      class="alert alert-danger" role="alert">
                                    <small *ngIf="descripcion.errors.required">
                                        El Descripcion es invalido
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 m-b-15">
                              <label for="marcaDes">Marca</label>
                              <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control" id="marcaDes" name="marcaDes" required
                                        ngModel #marcaDes="ngModel" placeholder="Marca" [(ngModel)]="prod.marcaDes">
                              </div>
                                <div *ngIf="marcaDes.invalid && (marcaDes.dirty || marcaDes.touched)"
                                      class="alert alert-danger" role="alert">
                                    <small *ngIf="marcaDes.errors.required">
                                        El Marca es invalido
                                    </small>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 m-b-15">
                              <label for="tipo">Tipo</label>
                              <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <select class="form-control" id="tipo" name="tipo" required
                                        ngModel #tipo="ngModel" [(ngModel)]="prod.tipo">
                                  <option value=""></option>
                                  <option *ngFor="let data of comboTiposProducto" value="{{data.id}}">{{data.descripcion}}</option>
                                </select>
                              </div>
                                <div *ngIf="tipo.invalid && (tipo.dirty || tipo.touched)"
                                      class="alert alert-danger" role="alert">
                                    <small *ngIf="tipo.errors.required">
                                        El Tipo es invalido
                                    </small>
                                </div>
                            </div>
                            <input type="hidden" class="form-control" id="creador" name="creador" required
                                      ngModel #creador="ngModel" [(ngModel)]="idCurr">
                            <input type="hidden" class="form-control" id="producto" name="producto" required
                                      ngModel #producto="ngModel" [(ngModel)]="prod.id">
                            <div *ngIf="prod.id<=0" class="form-group col-xs-12 text-right m-b-15">
                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle" ></i> Cancel</button>
                                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                            </div>
                            <div *ngIf="prod.id>0" class="form-group col-xs-12 m-b-15">
                                <div class="form-group col-xs-6 m-b-15">
                                  <label for="precioCosto">precioCosto</label>
                                  <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="number" class="form-control" id="precioCosto" name="precioCosto" required
                                            ngModel #precioCosto="ngModel" placeholder="precioCosto" [(ngModel)]="prod.inventario.precioCosto">
                                  </div>
                                    <div *ngIf="precioCosto.invalid && (precioCosto.dirty || precioCosto.touched)"
                                          class="alert alert-danger" role="alert">
                                        <small *ngIf="precioCosto.errors.required">
                                            El precioCosto es invalido
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group col-xs-6 m-b-15">
                                  <label for="cantidad">cantidad</label>
                                  <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="number" class="form-control" id="cantidad" name="cantidad" required
                                            ngModel #cantidad="ngModel" placeholder="cantidad" [(ngModel)]="prod.inventario.cantidad">
                                  </div>
                                    <div *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched)"
                                          class="alert alert-danger" role="alert">
                                        <small *ngIf="cantidad.errors.required">
                                            El cantidad es invalido
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 m-b-15">
                                  <label for="precioVenta">precioVenta</label>
                                  <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="number" class="form-control" id="precioVenta" name="precioVenta" required (change)="changeCalc()" (keyup)="changeCalc()"
                                            ngModel #precioVenta="ngModel" placeholder="precioVenta" [(ngModel)]="prod.inventario.precioVenta">
                                  </div>
                                    <div *ngIf="precioVenta.invalid && (precioVenta.dirty || precioVenta.touched)"
                                          class="alert alert-danger" role="alert">
                                        <small *ngIf="precioVenta.errors.required">
                                            El precioVenta es invalido
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group col-xs-6 m-b-15">
                                  <label for="precioClienteEs">precioClienteEs</label>
                                  <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="number" class="form-control" id="precioClienteEs" name="precioClienteEs"
                                            ngModel #precioClienteEs="ngModel" placeholder="precioClienteEs" [(ngModel)]="prod.inventario.precioClienteEs">
                                  </div>
                                    <div *ngIf="precioClienteEs.invalid && (precioClienteEs.dirty || precioClienteEs.touched)"
                                          class="alert alert-danger" role="alert">
                                        <small *ngIf="precioClienteEs.errors.required">
                                            El precioClienteEs es invalido
                                        </small>
                                    </div>
                                </div>
                                <div class="form-group col-xs-6 m-b-15">
                                  <label for="precioDistribuidor">precioDistribuidor</label>
                                  <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                    <input type="number" class="form-control" id="precioDistribuidor" name="precioDistribuidor"
                                            ngModel #precioDistribuidor="ngModel" placeholder="precioDistribuidor" [(ngModel)]="prod.inventario.precioDistribuidor">
                                  </div>
                                    <div *ngIf="precioDistribuidor.invalid && (precioDistribuidor.dirty || precioDistribuidor.touched)"
                                          class="alert alert-danger" role="alert">
                                        <small *ngIf="precioDistribuidor.errors.required">
                                            El precioDistribuidor es invalido
                                        </small>
                                    </div>
                                </div>
                                <input type="hidden" class="form-control" id="id" name="id" required
                                      ngModel #id="ngModel" [(ngModel)]="prod.inventario.id">
                                <div class="form-group col-xs-12 text-right m-b-15">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle" ></i> Cancel</button>
                                    <button type="button" class="btn btn-success" (click)="agregarVenta(ProdForm.value)"><i class="fa fa-save"></i> Guardar</button>
                                </div>
                            </div>
                          </form>
                      </div>
                      </div>
                      <div class="modal-footer" style="border:none;">
                      </div>
                  </div>
              </div>
            </div>
          <!-- Final Modal Ingreso -->

          <!-- Inicio Modal Ingreso -->
            <div id="editModal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
              <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                          <h4 class="modal-title">Edicion de datos</h4>
                      </div>
                      <div>
                          <form *ngIf="selectedData" id="edit-form"  #EditForm="ngForm" (ngSubmit)="update(EditForm.value)">
                            <div class="form-group col-xs-12 m-b-15">
                              <label for="descripcion">Descripcion</label>
                              <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                <input type="text" class="form-control" id="descripcion" name="descripcion" required
                                        ngModel #descripcion="ngModel" placeholder="descripcion" [(ngModel)]="selectedData.descripcion">
                              </div>
                                <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)"
                                      class="alert alert-danger" role="alert">
                                    <small *ngIf="descripcion.errors.required">
                                        El Descripcion es invalido
                                    </small>
                                </div>
                            </div>
                            <input type="hidden" class="form-control" id="id" name="id" required
                                        ngModel #id="ngModel" [(ngModel)]="selectedData.id">
                            <input type="hidden" class="form-control" id="creador" name="creador"
                                        ngModel #creador="ngModel" [(ngModel)]="idCurr">
                            <div class="form-group col-xs-12 text-right m-b-15">
                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle" ></i> Cancel</button>
                                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
                            </div>
                          </form>
                      </div>
                      <div class="modal-footer" style="border:none;">
                      </div>
                  </div>
              </div>
            </div>
          <!-- Final Modal Ingreso -->

<!-- Inicio Notificaciones -->
  <simple-notifications [options]="options"></simple-notifications>
<!-- Fin Notificaciones -->
<!-- Inicio Loader Modal -->
<div class="modal fade" id="Loading">
  <div class="modal-dialog">
    <div class="text-center" style="margin-top:50%;margin-left:50%;">
        <app-loader></app-loader>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Fin Loader Modal -->

